<nav class="app">
    <div class="wrapper">
        <div class="header">
            <nav class="logo-bar">
                <div class="margin"></div>
                <div class="content">
                    <a [routerLink]="['Infos']"><img src="images/logos/jam-logo.png" height="100px"></a>
                </div>
                <div class="margin"></div>
            </nav>
            <nav class="menu-buttons">
                <div class="margin"></div>
                <div class="content">
                    <a [routerLink]="['Infos']">Qui sommes-nous ?</a>
                    <a [routerLink]="['Galerie']">Galerie</a>
                    <a [routerLink]="['Groupe']">Le Groupe</a>
                    <a [routerLink]="['Contact']">Contact</a>
                </div>
                <div class="margin"></div>
            </nav>
        </div>
        <router-outlet></router-outlet>
        <div class="footer">
            <p>Une association de l'ESSEC Business School</p>
            <br>
            <br>
            <a href="http://www.essec.edu/fr/"><img src="images/logos/essec-logo.png" width="200px"></a>
            <br>
            <br>
            <p>...the musical spirit</p>
        </div>
    </div>
</nav>

<div class="mobile-menu-screen" *ngIf="showMenuScreen">
    <div class="a-box"><div class="vertical-middle">
        <a [routerLink]="['Infos']" (click)="MenuOff()">Infos</a>
    </div></div>
    <div class="a-box"><div class="vertical-middle">
        <a [routerLink]="['Galerie']" (click)="MenuOff()">Galerie</a>
    </div></div>
    <div class="a-box"><div class="vertical-middle">
        <a [routerLink]="['Groupe']" (click)="MenuOff()">Le Groupe</a>
    </div></div>
    <div class="a-box"><div class="vertical-middle">
        <a [routerLink]="['Contact']" (click)="MenuOff()">Contact</a>
    </div></div>
</div>

<div class="mobile-menu">
    <div class="margin"></div>
    <div class="content">
        <a [routerLink]="['Infos']"><img src="images/logos/jam-logo.png" height="50px"></a>
    </div>
    <div class="margin"></div>
    <div class="menu-link" (click)="MenuToggle()">
        <div class="box-shadow-menu" *ngIf="!showMenuScreen"></div>
        <div class="close-menu" *ngIf="showMenuScreen">&#10006;</div>
    </div>
</div>
