<div class="pageinfo-bar">
  <div class="margin"></div>
  <div class="content">
    <h1>{{title}}</h1>
    <p *ngIf="description">{{description}}</p>
  </div>
  <div class="margin"></div>
</div>
<div class="content-wrapper">
  <div class="margin"></div>
  <div class="content">
    <p *ngIf="content">{{content}}</p>

    <!-- <div class="presentation">
     <h2 class="titletop"> Les chanteurs</p>

        <p class="nametop"> Chanteur n°1 </p>
        <p class="descriptiontop"> Description of first singer</p>

        <p class="namemiddle"> Chanteur n°2 </p>
        <p class="descriptiontop"> Description of second singer</p>

        <h2 class="title"> Les guitaristes</p>

          <p class="name"> Guitariste n°1 </p>
          <p class="description"> Description of first guitarist</p>

          <p class="name"> Guitariste n°2 </p>
          <p class="description"> Description of second guitarist</p>

          <h2 class="title"> Les bassistes</p>

            <p class="name"> Bassiste n°1 </p>
            <p class="description"> Description of first bassist</p>

            <p class="name"> Bassiste n°2 </p>
            <p class="description"> Description of second bassist</p>

            <h2 class="title"> Les Pianistes</p>

              <p class="name"> Pianiste n°1 </p>
              <p class="description"> Description of first pianist</p>

              <p class="name"> Pianiste n°2 </p>
              <p class="description"> Description of second pianist</p>

              <h2 class="title"> Les batteurs</p>

                <p class="name"> Batteur n°1 </p>
                <p class="description"> Description of first drummer</p>

                <p class="name"> Batteur n°2 </p>
                <p class="description"> Description of second drummer</p>
    </div> -->

  </div>
  <div class="margin"></div>
</div>