<div class="pageinfo-bar">
  <div class="margin"></div>
  <div class="content">
    <h1>{{title}}</h1>
    <p *ngIf="description">{{description}}</p>
  </div>
  <div class="margin"></div>
</div>
<div class="content-wrapper">
  <div class="margin"></div>
  <div class="carrousel">
    <div id="slider">
      <figure>
        <img src="/images/photos/Jammeux/Adélie%20Conan%20Chanteuse%20Présidente.JPG" alt>
        <img src="/images/photos/Jammeux/Baptiste%20Lefort%20Bassiste%20Trésorier.JPG" alt>
        <img src="/images/photos/Jammeux/Emilie%20Taieb%20Chanteuse.JPG" alt>
        <img src="/images/photos/Jammeux/Félix%20Perreau%20Guitariste.JPG" alt>
        <img src="/images/photos/Jammeux/Adélie%20Conan%20Chanteuse%20Présidente.JPG" alt>
      </figure>
    </div>
  </div>
  <div class="margin"></div>
</div>